<% content_for :title do %>Contact<% end %>
<h3>Contact</h3>
<%= link_to 'Github', 'http://github.com/midikang'%>
<%= link_to 'This website source code Github', 'http://github.com/midikang/learn-rails'%>